[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/ujihisa/vim-markdown.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = dirty
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
	ignore = dirty
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/tpope/vim-haml.git
	ignore = dirty
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
	ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "autoload/pathogen"]
	path = autoload/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "autoload/afterimage"]
	path = autoload/afterimage
	url = https://github.com/tpope/vim-afterimage.git
	ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
	ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/nviennot/snipmate.vim.git
	ignore = dirty
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/vim-scripts/Gist.vim.git
	ignore = dirty
[submodule "bundle/quickfixsigns"]
	path = bundle/quickfixsigns
	url = https://github.com/tomtom/quickfixsigns_vim.git
	ignore = dirty
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = dirty
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
	ignore = dirty
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = dirty
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/nviennot/molokai.git
	ignore = dirty
[submodule "bundle/armasm"]
	path = bundle/armasm
	url = https://github.com/nviennot/vim-armasm.git
	ignore = dirty
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/nviennot/vim-powerline.git
	ignore = dirty
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/sidnair/scala-vim.git
	ignore = dirty
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
	ignore = dirty
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
	ignore = dirty
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/groenewege/vim-less.git
	ignore = dirty
[submodule "bundle/css3-syntax"]
	path = bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
	ignore = dirty
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
	ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/bufsurf"]
	path = bundle/bufsurf
	url = https://github.com/ton/vim-bufsurf.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/slim"]
	path = bundle/slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/jsx"]
	path = bundle/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/elixir"]
	path = bundle/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
